<!DOCTYPE html>
<html lang="ko" ng-app="CoinBit">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title>Admin</title>

    <meta name="viewport" content="width=device-width">
    <meta name="format-detection" content="telephone=no">
</head>
<body>
    <section ui-view></section>
    <script src="dll/vendor.dll.js"></script>
</body>
</html>